---
---

<button id="playButton">Play Audio test</button>

<audio id="audioPlayer" src="/public/translate_tts.mp3"></audio>

<script>
  const playButton = document.getElementById('playButton');
  const audioPlayer = document.getElementById('audioPlayer');

  playButton.addEventListener('click', () => {
    if (audioPlayer.paused) {
      audioPlayer.play();
      playButton.textContent = 'Pause Audio';
    } else {
      audioPlayer.pause();
      playButton.textContent = 'Play Audio';
    }
  });
// Add this event listener to handle when audio ends
  audioPlayer.addEventListener('ended', () => {
    playButton.textContent = 'Play Audio';
  });
</script>
