
---
import FlipCard from '../components/Flipcard.astro';
import TranslateAudio from '../components/Audio.astro'
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    hello
there

    <TranslateAudio />
<FlipCard 
  frontContent="今天"
  backContent="jīn tiān"
/>
	</body>
</html>
